body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-bg-color);

}

.container {
    width: 1210px;
    margin: 0 auto;

}

a {
    text-decoration: none;
}

li {

    list-style: none;

}

nav ul {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

header {
    height: 80px;

}

.svglogo {
    padding-top: 10px;
}

nav ul :nth-child(2) {
    padding-top: 14px;
    padding-right: 237px;
}

nav ul :nth-child(3) {
    padding-top: 17px;
}

nav ul :nth-child(4) {
    padding-top: 17px;
}

nav ul :nth-child(5) {
    padding-top: 17px;
}

nav ul :nth-child(6) {
    padding-top: 17px;
}

nav ul :nth-child(7) {
    padding-top: 19px;
}

nav ul :nth-child(8) {
    padding-top: 19px;

}

nav ul :nth-child(9) {
    padding-top: 15px;

}

nav ul :nth-child(3) :hover{
    font-weight: 600;
font-size: 16px;
line-height: 24px;

}

nav ul :nth-child(4) :hover{
    font-weight: 600;
font-size: 16px;
line-height: 24px;

}

nav ul :nth-child(5) :hover{
    font-weight: 600;
font-size: 16px;
line-height: 24px;

}

nav ul :nth-child(6) :hover{
    font-weight: 600;
font-size: 16px;
line-height: 24px;

}

.imgtext {

    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: #173A56;
    padding-top: 110px;
    color: var(--main-text-color);

}

.nav_text {

    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
    color: var(--main-text-color);

}

.nav_text_boss {

    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    color: var(--main-text-color);
}

.btn_href_one {

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
    border: 1px solid #BCD0E5;
    padding: 10px 22.22px 9px 25.25px;
    border-radius: 4px;
    color: var(--main-text-color);
}

.btn_href_two {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;


    background-color: #02897A;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 10px 23px 9px 25px;
}












.pricing {
    padding-top: 50px;
    background-image: url(./img/Bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: var(--main-display);
    padding-bottom: 150px;

}


.letsgo {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #22343D;
    margin: 0 auto;
    width: 721px;
    padding-bottom: 18px;
    color: var(--main-text-color);

}

.prodicit {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 536px;
    margin: 0 auto;
    color: #22343D;
    margin-bottom: 10px;
    padding-bottom: 49px;
    color: var(--main-text-color);
}



.pricingg {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    margin: 0 auto;
    padding-bottom: 32px;
    width: 98px;
    color: #22343D;
    color: var(--main-text-color);
}













.cards_div_prise {
    display: flex;
    gap: 71.35px;
    padding-left: 39px;
}


.card_prise {
    height: 456px;
    width: 322.6488037109375px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: white;
}


.name {

    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
    text-align: center;
    margin: 0;
    padding: 0;
    padding: 24px 0px 0px 0px;
}

.name_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #22343D;
    margin: 0;
    padding: 0;
    padding: 8px 0px 19px 73px;
}

.sum_div {
    gap: 8px;
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 83px;
}

.sum_div div {
    padding-top: 30px;

}

.sum {
    font-weight: 700;
    font-size: 76px;
    line-height: 100px;
    text-align: center;
    color: #02897A;
    margin: 0;
    padding: 0;
}

.dollar {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    color: #02897A;
}

.per {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    padding: 0;
    color: #AFAFAF;
}

.caracters {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #22343D;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 16px;

}

.prise_btn {
    margin: 0 auto;
    padding: 11px 19px 11px 18px;
    background-color: #02897A;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-left: 91px;
    color: #FFFFFF;
}

.card_prise :nth-child(6) {
    padding-bottom: 38px;
}



/* hover */
.card_prise:hover {
    background-color: #02897A;
}

.card_prise:hover p {
    color: white;
}

.card_prise:hover a {
    background-color: white;
    color: #02897A;
}

.card_prise:hover .per {
    color: #E0E0E0;
}



.enterprise{
    background-color: var(--main-section-bg);
    height: 318px;
    padding-top: 53px;


}

.enter {
    font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #22343D;
width: 137px;
margin: 0 auto;
padding-bottom: 16px;
color: var(--main-text-color);
}

.enterprise h3{
    
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #22343D;
    margin: 0 auto;
    width: 802px;
    padding-bottom: 8px;
    color: var(--main-text-color);
   


}

.prodicitt{
    font-weight: 400;
font-size: 18px;
line-height: 27px;

width: 657px;
margin:  0 auto;
color: #22343D;
padding-bottom: 32px;
color: var(--main-text-color);
}


.enter_btn{
    padding: 11px 18px 11px 18px;
    background-color: #02897A;
    font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
width: 224px;
margin: 0 auto;
border-radius: 8px;
margin-left: 497px;
}





.effects{
    padding-top: 200px;
}
.effects h3{
    font-weight: 700;
font-size: 34px;
line-height: 51px;
width: 998px;
color: #22343D;
padding-left: 110px;
margin: 0 auto;
padding-bottom: 70px;
color: var(--main-text-color);

}

.effect_img_and_text{
    display: flex;
    gap: 63px;
    padding-left: 50px;

}

.name_img{
    display: flex;
    gap: 14px;

}

.name_img img{
    width: 50px;
    height: 50px;
   
}



.text_name_img{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #22343D;
    color: var(--main-text-color);
}

.big_text_name{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #22343D;
width: 533px;
margin: 0;
color: var(--main-text-color);

}





.questions{
    padding-top: 150px;
    padding-bottom: 100px;
}

.questions h3{
    font-weight: 700;
font-size: 34px;
line-height: 51px;
margin: 0 auto;


color: #22343D;
width: 466px;
color: var(--main-text-color);
}

.ques_text{
    font-weight: 400;
font-size: 18px;
line-height: 27px;
margin: 0 auto;
width: 560px;
padding-bottom: 50px;


color: #22343D;
color: var(--main-text-color);
}

.accordion{
    width: 920px;
    border: none;
    padding-left: 100px;
}


.accordion-button{
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}



.accordion-body{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);

}




.chart {
    padding-top: 157px;
}

.join_card {
    display: flex;
    width: 968px;
    height: 345px;
    background-color: #02897A;
    border-radius: 32px;
    margin: 0 auto;

}

.join_text_btn {
    padding-left: 51px;
    padding-top: 49px;
}

.join_card h3 {
    width: 510px;
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.join_name {
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
}

.join_btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    background-color: white;
    color: #02897A;
    padding: 13px 35px 7px 33px;
    border-radius: 8px;

}





.footerlogo {
    display: flex;
    gap: 16px;
}

.svglogo_footer {}

.imgtext_footer {
    font-weight: 700 !important;
    font-size: 30px !important;
    line-height: 28px;
    color: #173A56;
    color: var(--main-text-color);

}

.links {
    display: flex;
    gap: 24px;
    text-align: center;
    padding-left: 35px;
}

.footer_text {
    display: flex;
    gap: 90px;
    padding: 154px 0px 0px 0px;
}

.footer_text ul :nth-child(1) {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22343D;
    color: var(--main-text-color);
}


footer li {
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #22343D;
    color: var(--main-text-color);
}

.footer_input {
    height: 48px;
    width: 325px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding: 10px 0px 10px 15px;
 
    
  

}

.input_about {
    height: 57px;
    width: 280px;
    padding-bottom: 34px;



}

.footer_btn {
    padding: 8px 15px 7px 15px;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 24px;
    background-color: #02897A;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
    

}

.btn_booter{
    padding-top: 29px;
}


.footer_paragr{
    font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #22343D;
width: 394px;
margin: 0 auto;
padding-top: 16px;
color: var(--main-text-color);
}


.body-dark{
    --main-display: none;
    --main-bg-color: #1F2E35;
    --main-text-color: #fff;
    --main-input-color:#1F2E35;
    --main-section-bg:#22343D;

   
}
